.collection {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 25px;
  grid-template-columns: repeat(10, 1fr);

  //--- JUST VISUAL STYLING BELOW
  margin: 60px auto;
  max-width: 2048px;
}

.product {

  //--- JUST VISUAL STYLING BELOW
  &__image {
    background-color: #e5e5e5;
    display: block;
    width: 100%;
  }

  &__name {

    p {
      font-family: sans-serif;
      font-size: 16px;
      font-weight: bold;

      a {
        color: #000000;
        text-decoration: none;
      }
    }
  }

  &__price {

    p {
      font-family: sans-serif;
      font-size: 14px;
    }
  }

  &__atc {
    button{
      font-family: sans-serif;
      font-size: 17px;
      position: relative;
      left:    0;
      bottom:   0;
    }
  }
}

